table, th , td{
    border: 2px solid black;
    border-collapse: collapse;
}

.tablehead th{
    margin: 5px;
    padding: 10px;
}

#tablebody{
    background-color: aliceblue;
}

#tablebody td{
    margin: 5px;
    padding: 15px;
    justify-content: left;
    text-align: left;
    line-height: 1.75;
}

.Buttons a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    line-height: 1.75;
    margin: 5px;
    padding: 1px;
}